@import url("https://fonts.googleapis.com/css2?family=Coolvetica:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-Regular:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-SemiBold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=Poppins:wght@200;300;400;500;600&display=swap");

@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/coolvetica/coolvetica-rg.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./assets/fonts/gilroy/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./assets/fonts/gilroy/Gilroy-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

.pagination-bullet {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  width: 21px !important;
  height: 4px !important;
  border-radius: 10px !important;
  background-color: #bbbbbd !important;
  z-index: 10;
  opacity: 1;
}

.active {
  width: 56px !important;
  background-color: #4B4B4B !important;
}
